*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

main{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

.board{
  width: 18rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(6rem,1fr));
}

.square {
  width: 6rem;
  height: 6rem;
  color: black;
  border: 2px solid #525050;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;


}

.square.isSelect {
  background-color: blue;
}

.turn {
  display: flex;
  gap: 0 1rem;
}